*{
	margin: 0;
	padding: 0;
}
.thongtindangtin
{
	width: 600px;
	width: auto;
	
	margin: auto;
	margin-top: 100px;
	background-color: white;
     box-shadow: 10px 10px 10px;
    -moz-box-shadow: 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 10px;
    -o-box-shadow: 10px 10px 10px;
    -ms-box-shadow: 10px 10px 10px;
}
.ndttdangnhap
{
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 70px;
	min-height: 400px;
}
.tieudedangtin
{	
	padding-bottom: 20px;
}
.buttondt
{
	min-height: 200px;
}